<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <script type="text/javascript"> 

            function validar() { 
                var cedula = document.getElementById("cedula").value;
                var nombre = document.getElementById("nombre").value; 
                var direccion = document.getElementById("direccion").value;
                var telefono = document.getElementById("telefono").value;
                var correo = document.getElementById("correo").value;

                if (cedula == null || cedula.length < 10 || /^\s+$/.test(cedula)){ 
                    alert("El campo de la cedula esta vacio o no es valido"); 
                    return false; 
                }

                else if(nombre  == null || nombre.length < 10 || /^\s+$/.test(nombre )){ 
                    alert("El campo del nombre esta vacio o no es valido"); 
                    return false; 
                }

                else if(direccion == null || direccion.length < 10 || /^\s+$/.test(direccion)){ 
                    alert("El campo de la direccion esta vacio o no es valido"); 
                    return false; 
                }

                else if(telefono == null || telefono.length < 10 || /^\s+$/.test(telefono)){ 
                    alert("El campo del telefono esta vacio o no es valido"); 
                    return false; 
                }

                else if(!(/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)/.test(correo))){ 
                    alert("El campo del correo no es valido o esta vacio"); 
                    return false; 
                }
                return true;
            } 
    </script>
</head>
<body>
    <div class="Datos clientes">
        <form class="Cliente" action="clientes" method="POST" name= "validación" onsubmit= "return validar()">
            <h2>Ingresar Información</h2>
            Cedula:<input id="cedula" type="text" name="cedula" ><br/>
            Nombre: <input id="nombre" type="text" name="nombre" ><br/>
            Direccion: <input id="direccion" type="text" name="direccion"><br/>
            Telefono:<input id="telefono" type="text" name="telefono" ><br/>
            Correo:<input id="correo" type="text" name="correo"><br/> 
            <input type="submit" value="Enviar"><br/>
        </form>
    </div>
</body>
</html>
